

<section class="show-container" ng-init="cameraCtrl.showCamera()">

  <div class="image">
    <img class="show-image" src="{{cameraCtrl.currentCamera.product_photo}}"> 
  </div>


  <div class="content">


    <h1>{{cameraCtrl.currentCamera.brand}} {{cameraCtrl.currentCamera.model}}</h1>
    
    <h3> $ {{cameraCtrl.currentCamera.price}}<br> </h3>

    {{cameraCtrl.currentCamera.description}}


    <div>
            Details
      <ul>
          <li><strong>Resolution: </strong>  {{cameraCtrl.currentCamera.resolution}} </li>
          <li><strong>Zoom Range: </strong>  {{cameraCtrl.currentCamera.zoom_range}} </li>
      </ul>

    </div>

  </div>
</section>

<section class="review-container">

<h3>Sample Photos</h3>
  <div class=" ui grid">
      
      <div class="four wide column" ng-repeat="sample in cameraCtrl.currentCamera.samples">
          <div ><img <img class="ui horizontal aligned rounded image"  src="{{sample.thumb_url}}"></div>
          <div ng-click="cameraCtrl.deleteSample(sample)" class="mini negative ui button">Delete</div>
      </div>
  </div>


  <div ng-repeat="review in cameraCtrl.currentCamera.reviews">
      <h3>Review</h3>
      <p>
      <div><p><strong>Rating:{{review.rating}}</strong></p></div>
      <p><strong>The verdict:</strong> 
      
      <div>{{review.description}}</div>
      <div>{{review.reviewer}}</div>

      <div ng-click="cameraCtrl.deleteReview(review)" class="mini negative ui button">Delete</div>

  </div>


  <h2>Add a new review!</h2>

  <div class="ui input">
    <div>
      <label>Rating</label>
      <input id="ratingField" ng-model="cameraCtrl.rating" type="text">
    </div>
  </div>


  <div class="ui form">
    <div class="field">
      <label>Review</label>
      <textarea ng-model="cameraCtrl.description" type="text"></textarea>
    </div>
  </div>

  <div ng-click="cameraCtrl.addReview()" class="positive ui button">Submit</div>


  <h2>Add sample photos!</h2>
  <form ng-submit="cameraCtrl.uploader.uploadAll()">
    <input type="file" name="pic" accept="image/*" nv-file-select="cameraCtrl.samplePic" uploader="cameraCtrl.uploader">
    
    <h3>Or image URL</h3>
    <div class="ui form">
      <div class="field">
        <input ng-model="cameraCtrl.remote_photo_url" type="text">
      </div>
    </div>
    <input class="positive ui button" type="submit">
  </form>



