/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'semantic-ui';

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

 .show-container {
        width: 1200px;
        display: inline-block;
    font-family: 'Raleway', sans-serif;

 }


 .show-image {
        height: 50%;
        width: 50%;
        display: inline-block;
        float: left;
 }

.show-content {
    display: inline-block;
    float: left;
    word-wrap: normal;
    width: 80%;
}

.icon {
    float: right;
}

 .review-container {
        width: 1000px;
        margin: 100px;
 }

#login-bar {
    float: right;
}

.login-form {
    color: black;
}

.form-wrap {
    width: 800px;
    margin-left: 260px;
    background-color: grey;
    padding: 40px;
    border-radius: 40px;
    opacity: 0.6;

}

.form-wrap-login {
    width: 600px;
    margin-left: 360px;
    background-color: grey;
    padding: 40px;
    opacity: 0.4;
    padding-bottom: 50px;

}

.page-wrapper {
    background-image: url("http://static1.squarespace.com/static/5316dc15e4b009ca7e4172fb/5320c891e4b0329723cb5fd5/53aca520e4b074ad24290647/1403823395164/Hummingbird+1_Medium.jpg?format=1500w");
     background-size: 1300px 800px;

}

.page-wrapper-login {
    background-image: url("https://pcathq-ch3302.files.1drv.com/y2m8Pvwt5y70MJFnSb4Vu2qMithtNNiQyc9ialf6P1pKq_h60XsQPnLwPk_sxDrGmqrHCXQAOX63OWkgnYAQLPUWcGzZYRURo84J2qwdD-6bEHmGBHPxnuZxjS8kIRYf6Ml3JB_Ln-14MiCmDS10QieK7BJQplVzEmlSjvH-0dWRZg/Mammoth5_Medium.jpg?psid=1");
    background-size: 1300px 1000px;

}

#nav-bar {
    background-color: grey;
    color: black;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 3px;
}

#card {
    padding: 20px;
    background-color: grey;
}

#snap {
   
}

.font-wrapper {
    font-family: 'Raleway', sans-serif;
    
}

.form-wrap-text {
    color: black;
    font-weight: bold;
}





